@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300;500;600&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Oswalds'
}

body {
    font-family: 'Roboto', Arial, sans-serif;;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: background-color 1s;
}

.dark-mode {
    background-color: #161616;
}
  
.light-mode {
    background-color: #cecece;
}

.center-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #404258;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(16, 16, 16, 0.56) 0px 22px 70px 4px;


}

.container {
    display:flex;
    margin:0 auto;
    padding: 10px;
    max-width: 1200px;
    background-color: #040D12;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.result{
    resize: none;
    border: 2px solid #ccc; 
    border-radius: 8px; 
    font-family: 'Bebas Neue', sans-serif;
    font-size: larger;
    color: black;
    text-align: start;
    width: 95%;
    height: 50px;
    margin-top: 10px;
    
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 5px auto;
}

.btn{  
    background-color: #5C8374; 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    flex: 1; 
    border-radius: 20px;
    font-family: 'Bebas Neue', sans-serif;
    margin: 2px;
    
}

.btn:hover{
    opacity: 60%;
}

.btn:active{
transform: translateY(4px);
}

.button2{
    background-color: rgb(71, 220, 121);
}

.button3{
    background-color: rgb(217, 46, 46);
}

.button4{
    padding: 17px;
}

